@model Player

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<Body>
<div id="babywrapper">

<Div>
    <h1>LightYear</h1>
    <h2>Turn @ViewBag.GameState.turnNumber</h2>
</Div>
<h3 class='Player1State'>Population is @ViewBag.GameState.p1Population</h3>
<h3 class='Player2State'>Population is @ViewBag.GameState.p2Population</h3>
@* <form asp-action="AttackEnemyPlayer" asp-controller="Post">
    <button>Send Ships</button>
</form> *@
<form asp-action="MakeShips" asp-controller="Post">
    <label for="shipNumber">Number of Ships:</label>
    <input type="number" name="shipNumber" id="">
    <button>Make Ships</button>
</form>
<form asp-action="TurnX" asp-controller="Post">
    <button>Send Ship</button>
</form>
@* <a align='left' asp-action="EndGame" asp-controller="Post">End Game</a> *@

<br>
@* <div class='NewShipDiv'>
    <form asp-action='ProcessNewShip' asp-controller='Post' method='post'>
        <input name='Type' value='TestShip'>
        <input  name='Health' input-type='Hidden'value='100'>
        <input name='Damage' value='20'>
        <input name='Position' value='1'>
        <input type='submit' value='Create Ship'>
    </form>
</div> *@
<h3 class="CombatLog">Combat Log</h3>
@if(ViewBag.GameState.p1Damage != 0){
<p>Player 1 Lost @ViewBag.GameState.p1Damage Population</p>
<p>Player 2 Lost @ViewBag.GameState.p2Damage Population</p>
}
</div>
</Body>